//! **************************************************************************
// Written by: Map P.20131013 on Wed May 23 06:49:16 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Up" LOCATE = SITE "P23" LEVEL 1;
COMP "SEG_TIME<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "SEG_TIME<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "SEG_TIME<2>" LOCATE = SITE "P140" LEVEL 1;
COMP "SEG_TIME<3>" LOCATE = SITE "P138" LEVEL 1;
COMP "SEG_TIME<4>" LOCATE = SITE "P134" LEVEL 1;
COMP "SEG_TIME<5>" LOCATE = SITE "P132" LEVEL 1;
COMP "SEG_TIME<6>" LOCATE = SITE "P127" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "ADDv" LOCATE = SITE "P7" LEVEL 1;
PIN ADDv_pin<0> = BEL "ADDv" PINNAME PAD;
PIN "ADDv_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Button_Start" LOCATE = SITE "P9" LEVEL 1;
PIN Button_Start_pin<0> = BEL "Button_Start" PINNAME PAD;
PIN "Button_Start_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Left" LOCATE = SITE "P16" LEVEL 1;
COMP "Down" LOCATE = SITE "P21" LEVEL 1;
COMP "LED_RED" LOCATE = SITE "P12" LEVEL 1;
COMP "TIME_COM<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "TIME_COM<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "TIME_COM<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "TIME_COM<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "Right" LOCATE = SITE "P14" LEVEL 1;
COMP "Reset" LOCATE = SITE "P11" LEVEL 1;
COMP "common<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "common<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "common<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "common<3>" LOCATE = SITE "P118" LEVEL 1;
COMP "common<4>" LOCATE = SITE "P117" LEVEL 1;
COMP "common<5>" LOCATE = SITE "P116" LEVEL 1;
COMP "common<6>" LOCATE = SITE "P115" LEVEL 1;
COMP "common<7>" LOCATE = SITE "P114" LEVEL 1;
COMP "common<8>" LOCATE = SITE "P112" LEVEL 1;
COMP "common<9>" LOCATE = SITE "P111" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P2" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P143" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P141" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P137" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P133" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P131" LEVEL 1;
COMP "Submit" LOCATE = SITE "P5" LEVEL 1;
COMP "common<10>" LOCATE = SITE "P105" LEVEL 1;
COMP "common<11>" LOCATE = SITE "P104" LEVEL 1;
COMP "common<12>" LOCATE = SITE "P102" LEVEL 1;
COMP "common<13>" LOCATE = SITE "P101" LEVEL 1;
COMP "common<14>" LOCATE = SITE "P100" LEVEL 1;
COMP "common<15>" LOCATE = SITE "P99" LEVEL 1;
COMP "LED_GREEN" LOCATE = SITE "P10" LEVEL 1;
COMP "SEG_FPGA<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG_FPGA<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG_FPGA<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG_FPGA<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG_FPGA<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG_FPGA<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG_FPGA<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "COM_FPGA" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

